body {
  font-family: "Poppins",
 sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}
/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(src/assets/images/hero-bg.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

}

.hero_area::before {
  content: "";
  position: absolute;
  top: -10%;
  right: 0;
  width: 45%;
  height: 88%;
  background-image: url(src/assets/images/hero-bg2.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

.sub_page .hero_area {
  height: auto;
  background: none;
}

.sub_page .hero_area::before {
  width: 225px;
  height: 110px;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .detail-box {
  margin: 45px 5% 0 5%;
  padding-bottom: 45px;
  border-right: 2px solid #e7d619;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  color: #010001;
  font-size: 3rem;
  padding-bottom: 15px;
  position: relative;
}

.slider_section .detail-box h1 span {
  color: #e7d619;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px -5px 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  width: 165px;
  text-align: center;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #0a2050;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0a2050;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #0a2050;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0px;
  background-color: #e7d619;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #e7d619;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #e7d619;
}

.slider_section .img-box img {
  max-width: 100%;
}

/* */ 


/* Image box styling  C:\Users\lenovo\Desktop\A\Dog\islem\src\assets\images\slider-img.png*/
.img-box {
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height 80vh */

  background-size: cover; /* Cover the entire container */
  padding: 20px;
  position: relative;
  border-radius: 1px; /* Rounded corners */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  margin-left: 900px;
  margin-top: -450px;
 
}
.img-box2 {
  display: flexbox;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height 80vh */
  background: url('/assets/images/slider-img.png') no-repeat center center; /* Image background */
  background-size: cover; /* Cover the entire container */
  padding: 20px;
  position: relative;
  border-radius: 1px; /* Rounded corners */
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  margin-left: 900px;
  margin-top: -630px;
  margin-bottom: 500px;
 

}




/* Container for the image */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Full viewport height */
  padding: 20px;
  margin-left: -100px;
  margin-top: -450px;
  background: url('/assets/images/animal-bg.jpg.') no-repeat center center; 
  
}

/* Image styling */
.image-container img {
  max-width: 100%;
  height: 120%;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff; /* White border */
}

/**/
.organ-label {
  position: absolute;
  color: #ffffff; /* Text color */
  font-size: 10px; /* Font size */
  cursor: pointer;
  border: none;
  background: linear-gradient(135deg, #4CAF50, #007bff); /* Gradient background */
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-weight: bold; /* Font weight */
  text-transform: uppercase; /* Uppercase text */
  padding: 9px 15px; /* Padding */
  border-radius: 80px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  outline: none; /* Remove default outline */
}

.organ-label:hover {
  background: linear-gradient(135deg, #007bff, #4CAF50); /* Gradient background on hover */
  transform: translateY(-3px) scale(1.05); /* Move up and scale slightly on hover */
}

.organ-label:active {
  transform: translateY(0) scale(0.95); /* Scale down slightly when active */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adjust shadow when active */
}

/* */


/* */


.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: none;
  border: 2px solid #e7d619;
  color: #000000;
  position: relative;
  margin: 0 4px;
  border-radius: 100%;
}

.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}

.slider_section .li_before::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 3.5px;
  width: 1.5px;
  height: 17px;
  background-color: #e7d619;
  border-radius: 5px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
/* */